{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!--Header de la pagina-->
    <header>
        <h1>
            {% if request.resolver_match.url_name == 'home' %}
                Inicio
            {% elif request.resolver_match.url_name == 'post-list' %}
                Lista de Posts
            {% elif request.resolver_match.url_name == 'post-detail' %}
                Detalle del Post
            {% elif request.resolver_match.url_name == 'post-new' %}
                Nuevo Post
            {% elif request.resolver_match.url_name == 'post-edit' %}
                Editar Post
            {% elif request.resolver_match.url_name == 'post-delete' %}
                Eliminar Post
            {% else %}
                {{ request.resolver_match.url_name|title }}
            {% endif %}
        </h1>
        <nav class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'post-new' %}">Nuevo Post</a></li>
                    <li><a href="{% url 'post-list' %}">Lista de Posts</a></li>
                </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>