{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!--Header de la pagina-->
    <header>
        <h1>
            {% if request.resolver_match.url_name == 'home' %}
                Inicio
            {% elif request.resolver_match.url_name == 'post-list' %}
                Lista de Posts
            {% elif request.resolver_match.url_name == 'post-detail' %}
                Detalle del Post
            {% elif request.resolver_match.url_name == 'post-new' %}
                Nuevo Post
            {% elif request.resolver_match.url_name == 'post-edit' %}
                Editar Post
            {% elif request.resolver_match.url_name == 'post-delete' %}
                Eliminar Post
            {% elif request.resolver_match.url_name == 'login' %}
                Iniciar Sesión
            {% else %}
                {{ request.resolver_match.url_name|title }}
            {% endif %}
        </h1>
        <nav class="navbar">
            <ul>
                <li><a class="home-url" href="{% url 'home' %}">Inicio</a></li>
                <li><a class="post-new-url" href="{% url 'post-new' %}">Nuevo Post</a></li>
                <li><a class="post-list-url" href="{% url 'post-list' %}">Lista de Posts</a></li>

                {% if user.is_authenticated %}
                    <li class="user-info">Hola, {{ user.username }}!</li>
                    <li class="logout-btn">
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Cerrar Sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li class="login-btn"><a class="login-url" href="{% url 'login' %}">Iniciar Sesión</a></li>
                    <li class="signup-btn"><a class="signup-url" href="{% url 'signup' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>