{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!--Header de la pagina-->
    <header>
        <h1>Inicio de la pagina</h1>
        <nav class="footer-nav">
                <h2>
                    <a class="home-url" href="{% url 'home' %}">Inicio</a> |
                    <a class="post-new-url" href="{% url 'post-new' %}">Nuevo Post</a> |
                    <a class="post-list-url" href="{% url 'post-list' %}">Lista de Posts</a>
                </h2>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>