{% extends '_base.html' %}

{% block content %}
    <div class="post-detail-container">
        <h1>{{ object.title }}</h1>
        
        <div class="post-content">
            <ul class="post-meta">
                <li><strong>Autor:</strong> {{ object.author }}</li>
                <li><strong>Contenido:</strong> {{ object.body }}</li>
                <li><strong>Creado:</strong> {{ object.created_at }}</li>
                <li><strong>Actualizado:</strong> {{ object.updated_at }}</li>
            </ul>
        </div>
        
        {% if post.author.pk == request.user.pk %}
        <div class="post-actions">
            <a href="{% url 'post-edit' object.pk %}" class="btn btn-edit">Editar</a>
            <a href="{% url 'post-delete' object.pk %}" class="btn btn-delete">Eliminar</a>
            <a href="{% url 'post-list' %}" class="btn btn-back">Volver a la lista</a>
        </div>
        {% endif %}
    </div>
{% endblock %}